[Interface]
Address = {{ wireguard_client_ip }}/24
PrivateKey = {{ client_private_key.stdout }}
DNS = {{ wireguard_dns_servers | join(', ') }}

[Peer]
PublicKey = {{ hostvars[groups['wireguard_server'][0]].server_public_key.stdout }}
Endpoint = {{ wireguard_server_public_ip }}:{{ wireguard_port }}
AllowedIPs = {{ wireguard_client_allowed_ips | default('0.0.0.0/0') }}
PersistentKeepalive = 25