[Interface]
Address = {{ wireguard_server_ip }}/24
ListenPort = {{ wireguard_port }}
PrivateKey = {{ server_private_key.stdout }}
{% if wireguard_enable_nat %}
PostUp = {{ wireguard_postup_commands | join('; ') }}
PostDown = {{ wireguard_postdown_commands | join('; ') }}
{% endif %}

{% for client_name, client_pubkey in client_pubkeys.items() %}
# {{ client_name }}
[Peer]
PublicKey = {{ client_pubkey }}
AllowedIPs = {{ hostvars[client_name].wireguard_client_ip }}/32
{% endfor %} 