[Unit]
Description=Mihomo Party Service
After=network.target

[Service]
Type=simple
User={{ mihomo_user }}
Group={{ mihomo_group }}
ExecStart={{ install_dir }}/mihomo -d /etc/mihomo/
Restart=always
ExecStartPre=/usr/bin/sleep 2s
ExecReload=/bin/kill -HUP $MAINPID
RestartSec=10
LimitNPROC=500
LimitNOFILE=1000000
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_RAW CAP_NET_BIND_SERVICE CAP_SYS_TIME CAP_SYS_PTRACE CAP_DAC_READ_SEARCH CAP_DAC_OVERRIDE
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_RAW CAP_NET_BIND_SERVICE CAP_SYS_TIME CAP_SYS_PTRACE CAP_DAC_READ_SEARCH CAP_DAC_OVERRIDE
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target 